<!DOCTYPE html>
<html>
<head>
    <title>Country Data</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
            gap: 20px; /* Adjust the gap between items */
        }

        .grid-item {
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Country Data</h1>
<h2>Random data with value={{ value }}</h2>
<form method=get action="/">
  <input name="value" type=number value="{{ value }}" />
  <input type=submit value="update graph">
</form>

<div class="grid-container">
    <div class="grid-item">
        <h3>Population</h3>
        <img src="{{ url_for('plot_png', value=value) }}" alt="random points as png" height="200">
    </div>

    <div class="grid-item">
        <h3>Land Cover</h3>
        <img src="{{ url_for('plot_png2', value=value) }}" alt="random points as png" height="200">
    </div>

    <div class="grid-item">
        <h3>Urban Land</h3>
        <img src="{{ url_for('plot_png3', value=value) }}" alt="random points as png" height="200">
    </div>

    <div class="grid-item">
        <h3>Urban Population</h3>
        <img src="{{ url_for('plot_png4', value=value) }}" alt="random points as png" height="200">
    </div>
</div>

</body>
</html>